div.box {
    margin-top: 15px;
}

div.box .box-top {
    color: #ffffff;
    text-shadow: 0 1px #000000;
    background: #2980b9;
    padding: 5px;
    padding-left: 15px;
    font-weight: 300;
}

div.box .box-panel {
    padding: 15px;
    background: #ffffff;
    color: #333333;
}
