ul.app-nav {

}

ul.app-nav li {
    list-style: none;
}

ul.app-nav li a {
    color: #cccccc;
    display: block;
    padding: 10px;
    font-size: 0.8em;
    border-bottom: 1px solid #444444;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

ul.app-nav li a:hover {
    background: #030303;
    color: #ffffff;
}

ul.app-nav li a.selected {
    background: #030303;
    color: #ffffff;
}
